/* GLOBAL */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 60px;
}
h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
h1, h2 {
  
}
a {
  color: inherit;
  text-decoration: none;
}
/* GLOBAL */


/****************************************************************
*               Header Menu
****************************************************************/

/*burger menu*/
.menu-btn {
  display: inline-block;
  outline:none;
  cursor:pointer;
  background:none;
  border:0;
  position: absolute;
  right: 0;
  top: 17px;
  z-index: 2;
}

.burger-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.burger-icon, .burger-icon:before, .burger-icon:after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger-icon:before, .burger-icon:after {
  position: absolute;
  content: "";
}
.burger-icon:before {
  top: -8px;
}
.burger-icon:after {
  top: 8px;
}

.menu-btn.is-active .burger-icon {
  background-color: transparent;
}
.menu-btn.is-active .burger-icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.menu-btn.is-active .burger-icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.header-wrapper {
  background: url('../images/1.png') no-repeat center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.navigation-wrapper {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  background : rgba(202, 205, 207, 0.2);
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navigation-wrapper.scrolled {
  background : #C71D82;
}
.menu-wrapper {
  display: none;
  background-color: #C71D82;
  width: 100%;
  z-index: 1;
}
.menu-wrapper .menu{
  margin-top: 12px;
}
ul.menu__list {
  display: flex;
  flex-direction: column;
}
li.menu__element {
  display: block;
  border-bottom: 1px solid white;
  font-family: 'Fjalla One', sans-serif;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  color : #fff;
  font-size: 18px;
}
.menu__element:last-child {
  border-bottom: none;
}
li.menu__element .submenu {
  display: none;
}
.cta-menu, .cta-submenu {
  display: inline-block;
  width: 100%;
}
.title-wrapper {
  text-align: center;
  height: 100px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
}
.title-wrapper h1, .title-wrapper h2 {
  margin-bottom: 0;
  margin-top: 0;
  color :#fff;
}
.header-wrapper .logo-container {
  position: absolute;
}
.header-wrapper .logo-container img{
  height: 40px;
  width: auto;
  padding: 10px;
}
.btn-godown {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color : #fff;
}
.btn-godown:hover {
  color: #000;
}
.btn-godown .fa-chevron-down::before {
  font-size: 50px;
}


@media screen and (min-width: 1280px) {
  .header-wrapper .logo-container {
    position: initial;
  }
  .header-wrapper .logo-container img {
    height: 65px;
  }
  .navigation-wrapper .menu-btn {
    display: none;
  }
  .menu-wrapper {
    display: block !important;
    background: none;
    width: 62%;
  }
  ul.menu__list {
    flex-direction: row;
  }
  li.menu__element {
    position: relative;
    height: 60px;
    width: 162px;
    border-bottom: none;
  }
  /*li.menu__element::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    height: 2px;
    width: 0;
    background: white;
  }*/
  li.menu__element:hover {
    cursor: pointer;
    color: white;
  }
  li.menu__element .submenu {
    display: none !important;
  }
  li.menu__element:hover .submenu {
    display: block !important;
  }
  li.menu__element:hover::after {
    width: 140px;
    transition: width 0.5s;
  }

}

/****************************************************************
*               Slider
****************************************************************/
.slide-container .slick-prev {
  left: 30px;
  z-index: 1;
}
.slide-container .slick-next {
  z-index: 1;
  right: 30px;
}
.slide-element {
  height: 500px !important;
}
.slide-element.slide1 {
  background: rgb(71, 71, 72);
  
}
.slide-element.slide2 {
  background: rgb(134, 134, 135)
}
.slide-element.slide3 {
  background: rgb(189, 189, 189)
}

/****************************************************************
*               Header submenus
****************************************************************/
.submenu li {
    list-style-type: none;
    cursor: pointer;
}
.submenu li:hover {
    background-color: #C71D82;
    color: #fff;
}
.submenu li:hover a{
    color: #fff !important;
}



#submenu-master{
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-master a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-admission{
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
    
}

#submenu-admission a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-realisation{
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-realisation a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-mondePro{
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-mondePro a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
    
}

.pages_element{
  line-height: 45px !important;
}

@media only screen and (max-width: 780px) {

  .pagesLogoPosition{
    position: absolute;
  }
  .respLogo {
    height: 40px;
    width: auto;
  }
}
