
main a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
}
li:hover a{
	color: #fff;
}
h3{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	color: #004D85;
}
.year{
	height: 20px;
	float: left;
	width: 100%;
	margin-bottom: 44px;
}

h4{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	color: #C71D82;
}

.box{
	width: 45%;
	float: left;
	margin-left: 3.5%;
}
.part {
	height: 50px;
	float: left;
	width: 100%;
}
.matieres {
	width: 100%;
	height: auto;
	float: left;
	border: 2px solid #ABABAB;
	border-radius: 5px;
	
}
.ue{
	width: 100%;
	float: left;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	color: #C71D82;
	padding-top: 2%;
	border-right: 2px solid #ABABAB;
	border-bottom: 2px solid #ABABAB;
	height: 38px;
	cursor: pointer;
}
.element{
	float: left;
	width: 100%;
	visibility: hidden;
}
.element ul{
	list-style-type: none;
	cursor: pointer;
	padding: 0;
	margin : 0;
}
.element ul li{
	height: 41px;
	background-color: #eee;
	font-family: 'Abel', sans-serif;
	padding-left: 38px;
	padding-top: 17px;
	border-bottom: 1px solid #e1e1e1;
	cursor: pointer;
}
.element ul li:hover{
	background-color: #004D85;
	color: #f3f4f5;
}
 	
.ue:hover{
	background-color: #C71D82;
	color: #f3f4f5;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*modal*/

.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.15);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 100%;
  padding: 2rem;
  background: rgba(27, 76, 108, 0.96);
  color: #fff;
  height: 100vh;
  overflow: auto;

}

.modal-window header {
  font-weight: bold;
}

.backgroundMobile{
	display: none;
}
.modal-title{
	font-family: 'Fjalla One', sans-serif;
}
.modal-close {
  color: #fff;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-family: arial;
  font-size: 40px;
  
}

.modal-close:hover {
  color: #C71D82;
}

.modal-window h1 {
  font-size: 200%;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.midd{
	height: 90vh;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.midd h2{

	font-size: 38px;
	margin-top: 230px;
	color: #C71D82;
}

.left{
	float: left;
	width: 45%;
	height: 90vh;
	font-family: 'Abel';
}
.right{
	float: left;
	width: 45%;
	height: 90vh;
	font-family: 'Abel';
	margin-left: 5%;
}
.matiere .content h2{
	color: #000;
	margin-top: 37px;
}
.content{
	height: 100vh;
}
.webographie a {
	color: #fff;
	text-decoration: underline;
}
.element ul{
	line-height: 22px;
}
header ul{
	z-index: 999;
}

@media only screen and (max-width: 780px) {

	.box{
		width: 90%;
	}
	.ue{
		height: 55px;
	}
	.part{
		height: 61px;
	}
	.left{
		width: 80%;
		height: auto;
	}
	.right{
		width: 80%;
		margin-left: 0;
		height: 180vh;
	}

}
