html{
    background-color: #FFFFFF;
    margin: 0;
}

body{
    margin: 0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

header img{
    width: 124px;
    height: auto;
    margin: 10px;
}

#menu{
    display: flex;
    margin: 6px;
    padding-top: 2.5%;
}

#menu > li{
    list-style-type: none;
    width: 165px;
    line-height: 75px;
    height: 50px;
}

#menu a{
    text-decoration: none;
    font-size: 18px;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
}


#menu a[href="../pages/realisations.html"] {
  color: black;
}

#menu a:hover {
  color: black;
}

#banniere{
    background-color: #004D85;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    height: 12vh;
}

a{
    text-decoration: none;
    color: white;
}

.submenu li {
    list-style-type: none;
}

#submenu-index{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
}

#submenu-index a{   
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
}


#submenu-master{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white; 
    padding-left: 7px;
    padding-bottom: 7px;
}

#submenu-master a{   
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}

#submenu-admission{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding-left: 7px;
    padding-bottom: 7px;  
}

#submenu-admission a{   
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}

#submenu-realisation{
   display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding-left: 7px;
    padding-bottom: 7px;
}

#submenu-realisation a{   
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px; 
}

#submenu-mondePro{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
   padding-right: 40px;
    padding-left: 7px;
}

#submenu-mondePro a{   
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
}


#conteneur {
	display: flex;
	flex-direction: column;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	color: #1d2354;
	font-size : 24px;
	margin: 0;
	padding: 0;
}

#h2-wrap {
	border-bottom : solid 1px #1d2354;
	display: inline-block;
	width: 230px;
	text-align: center;	
	margin-top : 2%;
	padding-bottom: 0%;
	margin-bottom: 2%
}

.container {
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;
}

#webdoc-prez {
    padding-left: 4%;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    width: 93vw;
    
}

/* webdoc */


#memoire-container {
	margin: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 96%;
    justify-content: center;
    align-items: center;
}

.memoire {
	width: 75%;
	height: 80px;
	margin: 0.6%;
	overflow: hidden;
    cursor: pointer;
    opacity: 0.95;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px grey;
    font-size: 18px;
}

.memoire-name {
	font-family : "Fjalla One";
    font-weight: lighter;
    color: #004D85;
}

.memoire-subject {
    font-family: "Abel";
    color: #8c8c8c;
}



/* FOOTER */

footer{
	background-color: #47525E;
	height: 200px;
	display: flex;
}

.faq{
	width: 30%;
	margin-left: 20px;
	position: relative;
}

.contact{
	width: 30%;
	margin-left: 20px;
	line-height: 2;
    position: relative;
}

.going{
	width: 30%;
	margin-left: 20px;
}

.infoPratique{
	margin-left: 15px;
	line-height: 2;
}

.universite{
	margin-left: 15px;
}

.universite img{
	width: 47%;
}


h4{
	color: #BCBDBF;
	font-family: 'Fjalla One', sans-serif;
}

h5{
	margin: 0;
}

h5 a{
	color: #BCBDBF;
	text-decoration: none;
	margin-left: 15px;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

h5 a:hover{
	color: white;
	text-decoration: none;
	margin-left: 15px;
}

#map{
	background-color:  #47525E;
	width: 90%;
	height: 120px;
}

.line{
	height: 120px;
	width: 1px;
	background-color: #BCBDBF;
	position: absolute;
	top: 15%;
	right: 0;
}

span{
	color: #EAEAEA;
	font-family: 'Abel', sans-serif;
}




 




