html{
    background-color: #FFFFFF;
    margin: 0;
}

body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 180px;
    height: auto;
    margin: 6px;
}

#menu{
    display: flex;
    margin: 6px;
    padding-top: 2.5%;
}

#menu a{
    text-decoration: none;
    font-size: 24px;
    margin-right: 60px;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
}


#menu a[href="../pages/realisations.html"] {
  color: black;
}

#menu a:hover {
  color: black;
}
#banniere{
    background-color: #004D85;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

#navigation{
    display: flex;
    flex-direction: column;
    /*position: absolute;
    z-index: 0;*/
    
}

#submenu{
    display: flex;
   /* position: relative;
    z-index: 1;*/
    
}

#submenu a{
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    
}
#submenu-index{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    margin-right: 7%;
    background-color: white;
    padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
  
}

#submenu-master{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
    margin-right: 3%;
}

#submenu-admission{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
   padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
    margin-right: 8%;
    
}

#submenu-realisation{
   display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
    margin-right: 1%;
}

#submenu-mondePro{
    display: flex;
     visibility: hidden;
    flex-direction: column;
    background-color: white;
   padding-right: 40px;
    padding-left: 7px;
    padding-bottom: 7px;
}


#conteneur {
	display: flex;
	flex-direction: column;
	
	
}

.webdoc {
	
	width: 50%;
	height: 300px;
	float: left;
	background-color: darkmagenta;
}

.realisation1 {
	width: 50%;
	height: 300px;
	float: left;
	background-color: palevioletred;
}

.maquette {
	height: 50%;
	width: 100%;
}
.memoires {
	height: 50%;
	width: 100%;
}

.typo {
	
	text-decoration: none;
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif
	
}
