html{
    background-color: #FFFFFF;
    margin: 0;
}

body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: #C71D82;
}

header img{
    width: 124px;
    height: auto;
    margin: 10px;
}

#menu{
    display: flex;
    margin: 6px;
    padding-top: 2.5%;
}

#menu > li{
    list-style-type: none;
    width: 165px;
    line-height: 75px;
    height: 115%;
    text-align: center;
    cursor: pointer;
}
#menu a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    
}


/*#menu a[href="../pages/realisations.html"] {
  color: black;
}*/

#banniere{
    background-color: #004D85;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    height: 12vh;
}

#navigation{
    display: flex;
    flex-direction: column;
    /*position: absolute;
    z-index: 0;*/
    
}

 /*.submenu{
    display: flex;
   /* position: relative;
    z-index: 1;
    
}
 */
a{
    text-decoration: none;
}
.submenu li {
    list-style-type: none;
    cursor: pointer;
}
.submenu li:hover {
    background-color: #C71D82;
}
.submenu li:hover a{
    color: #fff !important;
}



#submenu-master{
    display: flex;
    display : none;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-master a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-admission{
    display: flex;
    display : none;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
    
}

#submenu-admission a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-realisation{
    display: flex;
    display : none;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-realisation a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    
}

#submenu-mondePro{
    display: flex;
    display : none;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C71D82;
    color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 5px;
        
}

#submenu-mondePro a{   
    text-decoration: none;
    color: #727272;
    font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
    
}


#conteneur {
	display: flex;
	flex-direction: column;
	
	
}

.webdoc {
	
	width: 50%;
	height: 67vh;
	float: left;
	background-color: #727272;
    background : url('../images/webdocBW.jpg') no-repeat;
    background-size: cover;
	
}


.webdoc:hover {
	background : url('../images/webdoc.jpg') no-repeat;
    background-size: cover;
}


.maquette:hover {
	background : url('../images/maquette.jpg') no-repeat;
    background-size: cover;
}


.memoires:hover {
	background : url('../images/memoire.jpg') no-repeat;
    background-size: cover;
}




.realisation1 {
	width: 50%;
	height: 67vh;
	float: left;
	
}

.maquette {
	height: 33.5vh;
	width: 100%;
	background-color: #666;
    background : url('../images/maquetteBW.jpg') no-repeat;
    background-size: cover;
}
.memoires {
	height: 33.5vh;
	width: 100%;
	background-color: #eee;
    background : url('../images/memoireBW.jpg') no-repeat;
    background-size: cover;
}

.typo {
	
	text-decoration: none;
    font-size: 35px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
	padding-top: 15%;
    text-align: center;
}


.typo1 {
	
	text-decoration: none;
    font-size: 24px;
    margin-left: 15px;
    color: #1d2354;
    font-family: 'Fjalla One', sans-serif
	
}


h2 {
	font-family: 'Fjalla One', sans-serif;
	color: #1d2354;
	font-size : 24px;
	margin: 0;
	padding: 0;
}

#h2-wrap {
	border-bottom : solid 1px #1d2354;
	display: inline-block;
	width: 150px;
	text-align: center;	
	margin-top : 2%;
	padding-bottom: 0%;
	margin-bottom: 2%
}

.container {
	
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;
	
}

.semestre {
	
	width: 30%;
	height: 450px;
	float: left;
	background-color: darkmagenta;
	border-radius: 30px;
}

.matiere {
	width: 65%;
	height: 450px;
	float: left;
	background-color: palevioletred;
	
	border-radius: 30px;
}

